body {
    background-color: tomato;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bolder;
    font-size: large;
    color: maroon;
  }
  .margin-css {
    margin: 1%;
  }
  .correct-number-css{
    background-color: green;
  }
  .incorrect-number-css{
    background-color: red;
  }
  .incorrect-position-css{
    background-color: orange;
  }
  .blocks-css{
    background-color: maroon;
    width: 50px;
    height: 50px;
    border-radius: 10px 20px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    color: white;
  }
.flex-css1{
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-css2{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.input-css{
  width: 50%;
  border: 3px solid maroon;
}
.btn {
  margin-left: 5px;
  border: 2px solid maroon;
  color: maroon;
}

.btn:hover{
  background-color: maroon;
  border: 2px solid maroon;
}

.header-css {
  text-align: center;
}
.message-box-css-v {
  visibility: visible;
}
.message-box-css-h {
  visibility: hidden;
}