body {
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url('images/wallpaperflare.com_wallpaper.jpg'); */
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: large;
    color: brown;
  }
  .margin-css {
    margin: 2%;
  }
  .correct-number-css{
    background-color: green;
  }
  .incorrect-number-css{
    background-color: red;
  }
  .incorrect-position-css{
    background-color: orange;
  }
  .blocks-css{
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 10px 20px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    color: white;
  }
.flex-css1{
  width: 96%;
  height: auto;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-css2{
  /* border: 5px solid red; */
  width: 60%;
  height: auto;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.flex-css3{
  /* border: 5px solid pink; */
  color: aliceblue;
  width: 40%;
  height: auto;
  background-color:brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.input-css{
  width: 50%;
  border: 3px solid brown;
}
.btn {
  margin-left: 5px;
  border: 2px solid brown;
  color: brown;
}

.btn:hover{
  background-color: brown;
}