body {
    background-color: tomato;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bolder;
    font-size: xx-large;
    color: maroon;
  }
  .margin-css{
     margin-top: 5%;
     margin-left: 2%;
  }
  .margin-top-css {
    margin-top: 20px;
  }
   .link-css {
    color: white;
  }
  a:hover {
    color: white;
  }
  .btn {
    border: 2px solid maroon;
    color: maroon;
  }
  
  .btn:hover{
    background-color: maroon;
    border: 2px solid maroon;
  }